version: '3'

services:
  m3uproxy:
    image: m3u-proxy:latest
    environment:
      - "M3U_PROXY_HOSTNAME=localhost"
      - "M3U_PROXY_CHANNELS_URL=<valid url to m3u list>"
    ports:
      - "9090:9090"