server {
   listen       9090;

   root {{{rootDir}}};

   access_log {{{logDir}}}/access_log;
   error_log {{{logDir}}}/access_log;

   location / {}

   {{#channels}}
   location /channel/{{{channelKey}}} {
      proxy_pass {{{url}}};
   }

   {{/channels}}
}
